[package]
name = "nibblerun"
version = "0.1.3"
edition = "2024"

[dependencies]
serde = { version = "1", features = ["derive"] }

[dev-dependencies]
proptest = "1.0"
criterion = "0.5"

[[bench]]
name = "benchmarks"
harness = false
